body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: darkgoldenrod;
    background-color: beige;
}
ul{
    border: 2px solid rebeccapurple;
    padding: .5em;
}

.block,
li{
    
}